
.home {
    position: relative;
    height: 100vh;
    text-align: center;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.home {
    color: white;
    padding-top: 30px;
}

.home h1 {
    margin: 0;
    font-weight: bold;
}

.home p {
    font-size: 24px;
    max-width: 600px;
    margin: 20px auto;
}