
.chat {
  margin: 50px auto;
  width: 75%;
}

.chat h1 {
  text-align: center;
}

.chat-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.chat-buttons button {
  flex: 1;
  min-width: 100px;
  max-width: 200px;
  padding: 10px;
  
  
}

