.chat-bubble-receive {
  position: relative;
  background: #d4d4d4;
  border: .4em;
}

.chat-bubble-receive:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 32px solid transparent;
  border-right-color: #d4d4d4;
  border-left: 0;
  border-top: 0;
  margin-top: 16px;
  margin-left: 32px;
}

.chat-bubble-send {
	position: relative;
	background: #62c355;
	border-radius: .4em;
  width: fit-content;
  padding: 3px 3px 3px 3px;
}

.chat-bubble-send:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 32px solid transparent;
	border-left-color: #62c355;
	border-right: 0;
	border-top: 0;
	margin-top: -16px;
	margin-right: -32px;
}