.intro {
  background-color: #FEDDD8;
  height: 150px;
}

.support {
  display: block;
  width: 35%;
  float: right;
  position: relative; 
  right: 100px;

}

.subheading {
  float: left;
  font-weight: 500;
  font-size: 45px;
  color: #ffffff;
  position: relative; 
  top: 125px;
  left: 100px;
}

.subheading > .informationalText {
  color: #000000;
  font-weight: 150;
  font-size: 30px;
  width: 900px;
  position: relative; 
  top: 30px;
  margin-bottom: 60px;
}

.subheading > .sentenceTwo {
  color: #000000;
  font-weight: 150;
  font-size: 30px;
  width: 900px;
  margin-bottom: 30px;
}

.subheading > .sentenceThree {
  color: #000000;
  font-weight: 150;
  font-size: 30px;
  width: 900px;
  margin-bottom: 30px;
}

.subheading > .inline {
  display: flex;
}

.subheading > .inline > .inlineTitle {
  color: #000000;
  font-weight: 500;
  font-size: 45px;
  display: inline-block;
  
}

.subheading > .inline > .sentenceFour {
  color: #000000;
  font-weight: 150;
  font-size: 30px;
  height: 100px;
  margin-top: 15px;
  margin-left: 10px;
  
}
