.intro {
  background-color: #FEDDD8;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 95px;
  margin: 15px;
  margin-top: 0;
  color: #ffffff;
}

.help, .sad {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.subheading {
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  margin: 15px;
  color: #ffffff;
}

.images::after {
  content: "";
  clear: both;
  display: table;
}