.intro {
  background-color: #FEDDD8;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 95px;
  margin: 15px;
  margin-top: 0;
  color: #ffffff;
}

.help{
  margin-top: 20px;
  display: block;
  width: 30%;
  float: left;
  margin-left: 90px;
  margin-right: 10px;
}


.sad {
  display: block;
  width: 30%;
  float: left;
  position: relative;
  left: -40px;
}

.support {
  display: block;
  width: 30%;
  float: left;
  position: relative; 
  top: -90px;
  margin-left: 15px;

}

.subheading {
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  color: #ffffff;
  position: relative; 
  top: -80px;
}
